.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .hero h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .hero-img {
    width: 70%;
    height: auto;
  }
  
  .about-campus-life p {
    text-align: justify;
  }
  
  .highlights ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .highlights li {
    margin-bottom: 10px;
  }
  .container ul{
    display: flex;
    flex-direction: column;
    list-style-type: circle;
  }